<mat-toolbar>
  <button mat-icon-button [mat-menu-trigger-for]="menu">
    <mat-icon fontSet="material-icons-outlined">insert_drive_file</mat-icon>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>

  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="triggerAction('new_diagram')">New diagram</button>
    <button mat-menu-item (click)="file.click()">Open file</button>
    <button mat-menu-item (click)="triggerAction('save_as')">Save as...</button>
    <button mat-menu-item (click)="triggerAction('download_xml')">Download .bpmn file</button>
  </mat-menu>

  <mat-divider class="style-fix" [vertical]="true"></mat-divider>

  <button mat-icon-button onclick="this.blur()" (click)="triggerAction('save_to_server')">
    <mat-icon>save</mat-icon>
  </button>

  <mat-divider class="style-fix" [vertical]="true"></mat-divider>

  <button mat-icon-button [disabled]="!editMode" (click)="triggerAction('undo')">
    <mat-icon class="rotate-270">replay</mat-icon>
  </button>

  <button mat-icon-button [disabled]="!editMode" (click)="triggerAction('redo')">
    <mat-icon class="mirror">replay</mat-icon>
  </button>

  <mat-divider class="style-fix" [vertical]="true"></mat-divider>

  <button mat-icon-button (click)="triggerAction('download_img')">
    <mat-icon fontSet="material-icons-outlined">image</mat-icon>
  </button>

  <mat-divider class="style-fix" [vertical]="true"></mat-divider>

  <button mat-icon-button (click)="stopSimulation()" style="color: darkred">
    <mat-icon>stop</mat-icon>
  </button>
  <button mat-icon-button (click)="pauseSimulation()" style="color: grey">
    <mat-icon>pause</mat-icon>
  </button>
  <button mat-icon-button (click)="startSimulation()" style="color: forestgreen">
    <mat-icon>play_arrow</mat-icon>
  </button>
  <button mat-icon-button onclick="this.blur()" (click)="openSimParameterDialog()" style="color: black">
    <mat-icon>settings</mat-icon>
  </button>

</mat-toolbar>

<input #file hidden type="file" accept=".bpmn" (change)="openFile(file.files)">
