.fill-remaining-space {
  /* This fills the remaining space, by using flexbox.
     Every navbar row uses a flexbox row layout. */
  flex: 1 1 auto;
}

.toolbar-buttons button,
.toolbar-buttons a {
  margin-right: 4px;
  margin-left: 4px;
}
