<h1 mat-dialog-title>Put Your Code Here</h1>
<!--<div fxLayout="column">-->


<div mat-dialog-content style="height: 430px">
  <!--  <div fxFill>-->
  <!--  <mat-form-field appearance="legacy">-->
  <!--    <mat-label>Name</mat-label>-->
  <!--    <mat-select [(value)]="value" (selectionChange)="changeLanguage(value)">-->
  <!--&lt;!&ndash;      <mat-option value="-1">&#45;&#45;New&#45;&#45;</mat-option>&ndash;&gt;-->
  <!--      <mat-option *ngFor="let language of languages" [value]="language.value">-->
  <!--        {{language.name}}-->
  <!--      </mat-option>-->
  <!--    </mat-select>-->
  <!--  </mat-form-field>-->
  <mat-label>Code</mat-label>

  <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="data.code" ></ngx-monaco-editor>
  <!--    <mat-form-field appearance="fill" style="width: 600px">-->
  <!--      <mat-label>Code</mat-label>-->
  <!--      <textarea-->
  <!--        matInput-->
  <!--        cdkTextareaAutosize-->
  <!--        cdkAutosizeMinRows="20"-->
  <!--        cdkAutosizeMaxRows="20"-->
  <!--        [(ngModel)]="data.code"></textarea>-->
  <!--    </mat-form-field>-->
  <!--  </div>-->
</div>
<div fxLayout="row" fxLayoutAlign="end" mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data.code" cdkFocusInitial>Apply</button>
</div>
<!--</div>-->
