<h1 mat-dialog-title>Put Your Code Here</h1>
<!--<div fxLayout="column">-->


<div mat-dialog-content style="height: 420px">
<!--  <div fxFill>-->
    <ngx-monaco-editor [options]="editorOptions" [(ngModel)]="data.code"></ngx-monaco-editor>
<!--    <mat-form-field appearance="fill" style="width: 600px">-->
<!--      <mat-label>Code</mat-label>-->
<!--      <textarea-->
<!--        matInput-->
<!--        cdkTextareaAutosize-->
<!--        cdkAutosizeMinRows="20"-->
<!--        cdkAutosizeMaxRows="20"-->
<!--        [(ngModel)]="data.code"></textarea>-->
<!--    </mat-form-field>-->
<!--  </div>-->
</div>
<div fxLayout="row" fxLayoutAlign="end" mat-dialog-actions>
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="primary" [mat-dialog-close]="data.code" cdkFocusInitial>Apply</button>
</div>
<!--</div>-->
