button {
  margin: 5px;
}
.content {
  height: calc(100% - 32px);
}
.diagram-img {
  display: block;
  max-height: 120px;
  max-width: 200px;
  width: auto;
  height: auto;
  margin-bottom: 10px;
}

.card {
  width: 200px;
  height: 200px;
}
